<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DeviceAdminServiceBinding" />
                <binding name="BundleAdminServiceBinding" />
                <binding name="AssignmentServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SystemSettingsServiceBinding" />
                <binding name="UserAdminServiceBinding" />
                <binding name="CredentialsAdminServiceBinding" />
                <binding name="AssignmentServiceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/zenworks-datamodel/"
                binding="basicHttpBinding" bindingConfiguration="BundleAdminServiceBinding"
                contract="Bundle.BundleAdminService" name="BundleAdminServicePort" />
            <endpoint address="http://localhost:8080/zenworks-datamodel/"
                binding="basicHttpBinding" bindingConfiguration="DeviceAdminServiceBinding"
                contract="Device.DeviceAdminService" name="DeviceAdminServicePort" />
            <endpoint address="http://localhost:8080/zenworks-datamodel/"
                binding="basicHttpBinding" bindingConfiguration="SystemSettingsServiceBinding"
                contract="SystemSettings.SystemSettingsService" name="SystemSettingsServicePort" />
            <endpoint address="http://localhost:8080/zenworks-datamodel/"
                binding="basicHttpBinding" bindingConfiguration="UserAdminServiceBinding"
                contract="User.UserAdminService" name="UserAdminServicePort" />
            <endpoint address="http://dev-thk-zcm-01.ad-qa.fh-koeln.de/zenworks-credentialsadmin"
                binding="basicHttpBinding" bindingConfiguration="CredentialsAdminServiceBinding"
                contract="Credentials.CredentialsAdminService" name="CredentialsAdminServicePort" />
            <endpoint address="https://cit-zcm-01.cit-is.fh-koeln.de/zenworks-assignmentadmin/"
                binding="basicHttpBinding" bindingConfiguration="AssignmentServiceBinding"
                contract="Assignment.AssignmentService" name="AssignmentServicePort" />
        </client>
    </system.serviceModel>
</configuration>