<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AssignmentServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AssignmentServiceBinding1" />
                <binding name="DeviceAdminServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DeviceAdminServiceBinding1" />
                <binding name="UserAdminServiceBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://cit-zcm-01.cit-is.fh-koeln.de/zenworks-assignmentadmin"
                binding="basicHttpBinding" bindingConfiguration="AssignmentServiceBinding"
                contract="Assignment.AssignmentService" name="AssignmentServicePort" />
            <endpoint address="https://dev-thk-zcm-01.dvz.fh-koeln.de/zenworks-deviceadmin"
                binding="basicHttpBinding" bindingConfiguration="DeviceAdminServiceBinding"
                contract="Device.DeviceAdminService" name="DeviceAdminServicePort" />
            <endpoint address="http://localhost:8080/zenworks-datamodel/"
                binding="basicHttpBinding" bindingConfiguration="UserAdminServiceBinding"
                contract="User.UserAdminService" name="UserAdminServicePort" />
        </client>
    </system.serviceModel>
</configuration>